<template>
    <div
        @mousedown.self="mousedown_global"
        class="side-panel"
    >
        <div class="icons">
            <b-button 
                variant="light"
                v-for="icon in icons" 
                :key="icon.name" class="icon"
                size="sm"
                @click="button(icon.command)"
                :title="icon.title"
            >
                <b-icon
                    :icon="icon.name"
                    scale="2" 
                />
            </b-button>
            
        </div>
        <div style="clear: both;" />
        <ul>
            <li 
                v-for="(container, idx) in containers" 
                v-bind:key="idx"
                v-bind:class="{'bg-dark': container.active, 'text-light': container.active}"
                v-on:click="select(idx)"
            >
                Контейнер {{idx}}
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: "SidePanel",
    data: ()=>({
        playingContainers: new Set(),
        icons: [
            {
                name: "arrow-counterclockwise", command: "back",
                title: "back"
            },
            {
                name: "arrow-clockwise", command: "forward",
                title: "forward"
            },
            {
                name: "plus", command: "new",
                title: "new container"
            },
            {
                name: "trash", command: "remove",
                title: "remove container"
            },
            {
                name: "book", command: "save", 
                title: "save"
            },
            {
                name: "play", command: "play",
                title: "play all videos"
            },
            {
                name: "stop", command: "stop",
                title: "stop all videos"
            }
        ]
    }),
    computed: {
        containers(){
            return this.$store.state.containers
        }
    },
    methods:{
        select(idx){
            this.$store.dispatch('select', idx)
        },
        button(command){
            let commands = {
                back: ()=>{
                    this.$history.back()
                },
                forward: ()=>{
                    this.$history.forward()
                },
                new: ()=>{
                    this.$store.dispatch('addContainer', {
                        x: 0, y: 0, w: 200, h: 200,
                        content: {
                            type: 'blank',
                            data: {}
                        }
                    })
                },
                remove: ()=>{
                    if(this.$store.state.selected != -1){
                        this.$store.dispatch(
                            'removeContainer',
                            this.$store.state.selected
                        )
                    }
                },
                save: ()=>{
                    this.$history.save()
                },
                play: ()=>{
                    this.$eventHub.$emit('playAll')
                },
                pause: ()=>{
                    this.$eventHub.$emit('pauseAll')
                },
                stop: ()=>{
                    this.$eventHub.$emit('stopAll')
                }
            }
            commands[command]()
        },
        mousedown_global(){
            this.$store.dispatch('deselect')
        },
        updatePlayButton(){
            if(this.playingContainers.size > 0){
                this.icons.splice(5, 1, {
                    name: "pause", command: "pause",
                    title: "pause all videos"
                })
            }else{
                this.icons.splice(5, 1, {
                    name: "play", command: "play",
                    title: "play all videos"
                })
            }   
        },
        videoEnded(idx){
            this.videoPause(idx)
        },
        videoPlay(idx){
            let id = this.$store.state.containers[idx].id
            this.playingContainers.add(id)
            this.updatePlayButton()
        },
        videoPause(idx){
            let id = this.$store.state.containers[idx].id
            this.playingContainers.delete(id)
            this.updatePlayButton()
        }
    },
    created(){
        this.$eventHub.$on('videoEnded', this.videoEnded)
        this.$eventHub.$on('videoPlay', this.videoPlay)
        this.$eventHub.$on('videoPause', this.videoPause)
    },
    beforeDestroy(){
        this.$eventHub.$off('videoEnded', this.videoEnded)
        this.$eventHub.$off('videoPlay', this.videoPlay)
        this.$eventHub.$off('videoPause', this.videoPause)
    }
}
</script>

<style scoped>
ul {
    width: 15em;
    list-style-type: none;
    margin-left: 0px;
    margin-top: 1em;
}
li {
    text-align: left;
    padding-left: 1em;
}
.icon {
    float: left;
    margin-left: 0.5em;
}
.icons {
    margin-left: 2em;
    width: 15em;
}
.side-panel {
    height: 100%;
}
</style>