<template>
    <div
        @mouseup="mouseup_global"
        @mousemove="mousemove_global"
        @mouseleave="mouseleave_global"
        @mousedown.self="mousedown_global"
        :style="{cursor: cursorStyle}"
    >
        <workspace-container
            v-for="(container, idx) in containers"
            :key="container.id"
            :idx="idx"
            @mousemove.native="mousemove_container(idx, $event)"
            @mousedown.native="mousedown_container(idx, $event)"
            @mouseleave.native="mouseleave_container(idx, $event)"
        />
    </div>
</template>

<script>

import WorkspaceContainer from './WorkspaceContainer'

let border = 5
let containerMinSize = [45, 40]

export default {
    name: "Workspace",
    components:{
        WorkspaceContainer
    },
    data: ()=>(
        {
            mouseMode: 'normal',
            mouseStartState: {
                mousePos: [0, 0],
                containerPos: [0, 0],
                containerSize: [0, 0]
            },
            mouseResizeDir: 'none',
            mouseContainerIdx: -1,
            cursorStyle: 'auto',
            order: 0
        }
    ),
    computed: {
        containers: {
            get(){
                return this.$store.state.containers
            }
        }
    },
    methods:{
        checkResizePos(idx, a){
            let dir = 'none'
            let bottom = a.layerY > this.$store.state.containers[idx].h - border
            let right = a.layerX > this.$store.state.containers[idx].w - border

            if(bottom){
                if(right){
                    dir = 'se'
                }else{
                    dir = 'ns'
                }
            }else if(right){
                dir = 'ew'
            }
            return dir
        },
        checkMovePos(idx, a){
            let top = a.layerY < border
            let left = a.layerX < border
            return top && left
        },
        mousedown_container(idx, a){
            let resize_dir = this.checkResizePos(idx, a)
            let move = this.checkMovePos(idx, a)
            this.$store.dispatch('select', idx)
            if(move || resize_dir != 'none'){
                let container = this.$store.state.containers[idx]
                this.mouseStartState = {
                    mousePos: [a.clientX, a.clientY],
                    containerPos: [container.x, container.y],
                    containerSize: [container.w, container.h]
                }
                this.mouseContainerIdx = idx
                if(move){
                    this.mouseMode = 'move'
                    this.cursorStyle = 'move'
                }else{
                    this.mouseMode = 'resize'
                    this.mouseResizeDir = resize_dir
                    this.cursorStyle = resize_dir + '-resize'
                }
            }
        },
        mousemove_container(idx, a){
            if(this.mouseMode == 'normal'){
                let resize_dir = this.checkResizePos(idx, a)
                let move = this.checkMovePos(idx, a)
                if(move){
                    this.cursorStyle = 'move'
                }else{
                    this.cursorStyle = resize_dir != 'none' ? resize_dir + '-resize' : 'auto'
                }
            }
        },
        mouseleave_container(){
            if(this.mouseMode == 'normal'){
                this.cursorStyle = 'auto'
            }
        },
        mouseup_global(){
            this.mouseMode = 'normal'
            this.cursorStyle = 'auto'
        },
        mouseleave_global(){
            this.mouseup_global()
        },
        mousemove_global(a){
            let updateProp = (prop, dxy)=>{
                let newVal
                let i = ['x', 'y'].indexOf(prop)
                if(i != -1){
                    newVal = this.mouseStartState.containerPos[i] + dxy
                }
                i = ['w', 'h'].indexOf(prop)
                if(i != -1){
                    newVal = this.mouseStartState.containerSize[i] + dxy
                    if(newVal <= containerMinSize[i]) return
                }
                this.$store.dispatch('changeContainer', {
                    i: this.mouseContainerIdx,
                    prop: prop,
                    value: newVal
                })
            }
            if(this.mouseMode != 'normal'){
                let dx = a.clientX - this.mouseStartState.mousePos[0]
                let dy = a.clientY - this.mouseStartState.mousePos[1]
                if(this.mouseMode == 'move'){
                    updateProp('x', dx)
                    updateProp('y', dy)
                }else if(this.mouseMode == 'resize'){
                    if(this.mouseResizeDir == 'ew'){
                        updateProp('w', dx)
                    }else if(this.mouseResizeDir == 'ns'){
                        updateProp('h', dy)
                    }else if(this.mouseResizeDir == 'se'){
                        updateProp('w', dx)
                        updateProp('h', dy)
                    }
                }
            }
        },
        mousedown_global(){
            this.$store.dispatch('deselect')
        }
    }
}
</script>

<style scoped>
    div {
        width: 100%;
        height: 100%;
        user-select: none;
        position: absolute;
    }
</style>