<template>
    <div 
        :style="{ top: y+'px', left: x+'px', width: w+'px', height: h+'px'}" 
        class="border workspace-container"
        :class="{'border-dark': active}"
    >
        <b-button
            id="pencil-icon"
            size="sm"
            variant="light"
            class="float-sm-right"
            v-b-modal="'modal_' + idx"
        >
            <b-icon-pencil
                scale="2"
            />
        </b-button>

        <workspace-container-content :idx="idx"/>
        
        <b-modal
            :id="'modal_' + idx" 
            no-fade 
            title="Select Content"
            ok-only
            @ok="modalOk"
            @show="modalReset"
        >
            <p>
                container type:
                <b-form-select v-model="modal.selected" :options="modal.options"/>
            </p>
            <p
                v-if="['image', 'video', 'audio'].includes(modal.selected)"
            >
                file:
                <b-form-file
                    v-if="modal.selected == 'video'"
                    accept="video/*"
                    v-model="modal.file"
                />
                <b-form-file
                    v-if="modal.selected == 'image'"
                    accept="image/*"
                    v-model="modal.file"
                />
                <b-form-file
                    v-if="modal.selected == 'audio'"
                    accept="audio/*"
                    v-model="modal.file"
                />
            </p>
            <p
                v-if="['image', 'video'].includes(modal.selected)"
            >
                content mode:
                <b-form-select 
                    v-model="modal.styleSelected" :options="modal.styleOptions"
                />
            </p>
        </b-modal>
    </div>
</template>

<script>
    import WorkspaceContainerContent from './WorkspaceContainerContent'

    let contentValue = (modal) => {
        if(modal.selected == 'blank'){
            return {}
        }else if(modal.selected == 'text'){
            return {
                text: 'some text'
            }
        }else if(['image', 'video'].includes(modal.selected)){
            return {
                file: modal.file,
                style: 'of-' + modal.styleSelected
            }
        }else if(modal.selected == 'audio'){
            return {
                file: modal.file
            }
        }
    }

    export default {
        name: "WorkspaceContainer",
        props:{
            "idx": Number
        },
        components: {
            WorkspaceContainerContent
        },
        computed: {
            x(){
                return this.$store.state.containers[this.idx].x
            },
            y(){
                return this.$store.state.containers[this.idx].y
            },
            w(){
                return this.$store.state.containers[this.idx].w
            },
            h(){
                return this.$store.state.containers[this.idx].h
            },
            active(){
                return this.$store.state.containers[this.idx].active
            },
        },
        data: ()=>(
            {
                modal:{
                    selected: 'blank',
                    options:[
                        {value: 'blank', text: 'nothing'},
                        {value: 'text', text: 'text area'},
                        {value: 'video', text: 'video'},
                        {value: 'image', text: 'image'},
                        {value: 'audio', text: 'audio'}
                    ],
                    file: null,
                    styleSelected: 'fill',
                    styleOptions: [
                        'fill',
                        'contain',
                        'cover',
                        'none',
                        'scale-down'
                    ]
                }
            }
        ),
        methods: {
            modalOk(){
                this.$store.dispatch('changeContainer', {
                    i: this.idx,
                    prop: 'content',
                    value: {
                        type: this.modal.selected,
                        data: contentValue(this.modal)
                    }
                })
            },
            modalReset(){
                let container = this.$store.state.containers[this.idx]
                this.modal.selected = container.content.type
                if(['image', 'video', 'audio'].includes(this.modal.selected)){
                    this.modal.file = container.content.data.file
                }
            }
        },
        watch:{
            'modal.selected'(){
                this.modal.file = null
            }
        }
    }
</script>

<style scoped>
.workspace-container {
    position: absolute;
    overflow: auto;
}
#pencil-icon {
    opacity: 0.33;
    position: relative;
    z-index: 99;
}
#pencil-icon:hover {
    opacity: 0.66;
}
.modal-body {
    width: fit-content;
    height: fit-content;
    background-color: brown;
}
</style>