<template>
    <div class="workspace-container-content">
        <p v-if="type == 'blank'" class="empty">
            empty
        </p>
        <b-form-textarea 
            v-else-if="type == 'text'" 
            v-model="text"
            no-resize
            no-auto-shrink
            class="text-area"
            lazy
        />
        <p v-else-if="type == 'video' && !content.data.file">
            empty video
        </p>
        <video
            v-else-if="type == 'video'"
            :class="of_class"
            @ended="videoEnded"
            @play="videoPlay"
            @pause="videoPause"
            :src="src"
        />
        <p v-else-if="type == 'image' && !content.data.file">
            empty image
        </p>
        <img
            v-else-if="type == 'image'"
            :src="src"
            :class="of_class"
            @dragstart.prevent
        />
        <p v-else-if="type == 'audio' && !content.data.file">
            empty audio
        </p>
        <audio
            v-else-if="type == 'audio'"
            :src="src"
            class="audio"
            controls
        />
        <p v-else class="error">
            unsupported type of content
        </p> 
    </div>
</template>

<script>
export default {
    name: "WorkspaceContainerContent",
    props: {
        "idx": Number
    },
    data(){
        return {
            unsubscribe: null
        }
    },
    computed:{
        of_class(){
            let data = this.content.data
            return {
                'of-fill': data.style == 'of-fill',
                'of-contain': data.style == 'of-contain',
                'of-cover': data.style == 'of-cover',
                'of-none': data.style == 'of-none',
                'of-scale-down': data.style == 'of-scale-down'
            }
        },
        content(){
            return this.$store.state.containers[this.idx].content
        },
        type(){
            return this.$store.state.containers[this.idx].content.type
        },
        src(){
            return this.content.data.src
        },
        text: {
            set(value){
                let content = {...this.content, data: {text: value}}
                this.$store.dispatch('changeContainer', {
                    i: this.idx,
                    prop: 'content',
                    value: content
                })
            },
            get(){
                return this.$store.state.containers[this.idx].content.data.text
            }
        }
    },
    methods: {
        videoEnded(){
            this.$eventHub.$emit('videoEnded', this.idx)
        },
        videoPlay(){
            this.$eventHub.$emit('videoPlay', this.idx)
        },
        videoPause(){
            this.$eventHub.$emit('videoPause', this.idx)
        },
        play(){
            if(this.type == 'video' && this.content.data.file){
                this.$el.firstChild.play()
            }
        },
        stop(){
            if(this.type == 'video' && this.content.data.file){
                this.$el.firstChild.load()
                this.$eventHub.$emit('videoEnded', this.idx)
            }
        },
        pause(){
            if(this.type == 'video' && this.content.data.file){
                this.$el.firstChild.pause()
            }
        }
    },
    created(){
        this.$eventHub.$on('playAll', this.play)
        this.$eventHub.$on('pauseAll', this.pause)
        this.$eventHub.$on('stopAll', this.stop)
        this.unsubscribe = this.$store.subscribeAction({
            before: (action, prev_state)=>{
                if(
                    action.type == 'changeContainer' && 
                    action.payload.i == this.idx &&
                    action.payload.prop == 'content'
                ){
                    let content = action.payload.value
                    let prev_content = prev_state.containers[this.idx].content
                    if(
                        content.type == prev_content.type &&
                        (
                            content.type == 'video' ||
                            content.type == 'image'
                        )/* &&
                        content.data.file != prev_content.data.file*/
                    ){
                        this.$el.firstChild.load()
                        this.$eventHub.$emit('videoEnded', this.idx)
                    }
                }
            }
        })
    },
    beforeDestroy(){
        this.$eventHub.$off('playAll', this.play)
        this.$eventHub.$off('pauseAll', this.pause)
        this.$eventHub.$off('stopAll', this.stop)
        this.unsubscribe()
    }
}
</script>

<style scoped>
.empty {
    opacity: 0.33;
}
.error {
    color: red;
}
.text-area {
    height: 100%;
    border: none;
}
.workspace-container-content {
    position: absolute;
    height: 100%;
    width: 100%;
}
.workspace-container-content > * {
    position: absolute;
}

.of-fill {
    object-fit: fill;
    width: 100%;
    height: 100%;
}
.of-contain {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.of-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.of-none {
    object-fit: none;
    width: 100%;
    height: 100%;
}
.of-scale-down {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}
.audio {
    width: 100%;
    height: 100%;
}
</style>