<template>
  <div id="app">
    <div id="side-panel">
      <side-panel/>
    </div>
    <div id="workspace">
      <workspace/>
    </div>
  </div>
</template>

<script>
import SidePanel from './components/SidePanel'
import Workspace from './components/Workspace'



export default {
  name: 'App',
  components: {
    SidePanel,
    Workspace
  }
}
</script>

<style>
html, body, #app {
  height: 100%;
}
#app {
  padding-top: 10px;
}
#side-panel {
  width: fit-content;
  height: 100%;
  float: left;
}
#workspace {
  height: 100%;
  overflow: hidden;
  position: relative;
}
</style>
